@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background: linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)
        ),
        url('/images/mountains.jpg') no-repeat center center fixed;
    background-size: 100%;
}

#header {
    display: flex;
    align-items: center;
    background: rgba(3, 232, 253, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.25 );
    backdrop-filter: blur( 4px ) hue-rotate(5deg);
    -webkit-backdrop-filter: blur( 4px );
    width: 100%;
    position: fixed;
    z-index: 99;
}

#header a {
    color: white;
    text-decoration: none;
    margin: 1em;
}

#header-img {
    margin-right: auto;
    margin-left: 2em;
    width: 100px;
    height: 100px;
    filter: invert(100%);
}

#nav-bar {
    justify-self: end;
    margin-left: auto;
    margin-right: 5em;
}

#main {
    text-align: center;
}

#blockchain {
    margin-top: 6.25em;
    background: url('/images/blockchain.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    width: 100vw;
    max-width: 100%;
    height: 20em;
    
}

#features {
    width: 80%;
    text-align: center;
    padding: 3em 5em;
    margin: 0 auto;
    background-color:whitesmoke;
    opacity: 0.8;
    filter: blur(4px;)
}

#aerocoin {
    padding-top: 1em;
    padding-bottom: 2em;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    color:rgba(24, 24, 24, 0.75)
}

#aerocoinp {
    padding: 0 9em;
    color:rgba(20,20,20, 1)
}

#featuresp {
    padding: 2em;
}

#howitworks {
    background-color: whitesmoke;
    opacity: 0.8;
    padding: 3em 5em;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

#howitworksh2 {
    margin-top: -3em;
    padding: 0 0em 2em 0em
}

#pricing {
    background-color: whitesmoke;
    opacity: 0.8;
    padding: 3em 5em;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    max-width: 100%;
}

#pricingtitle {
    text-align: center;
    background-color: whitesmoke;
    opacity: 0.8;
    padding: 0em 5em;
    width: 80%;
    margin: 0 auto;
    max-width: 100%
}

#priceone {
    padding: 2em 4em;
    background:rgba(20,20,20, 1);
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px ) hue-rotate(80deg);
    border-radius: 10px 0px 0px 10px;
    color: white;
}

#pricetwo {
    padding: 2em;
    background:rgba(20,20,20, 1);
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px ) hue-rotate(80deg);
    color: white;
}

#pricethree {
    padding: 2em 4em;
    background:rgba(20,20,20, 1);
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px ) hue-rotate(80deg);
    border-radius: 0px 10px 10px 0px;
    color: white;
}

#font48px {
    font-size: 48px;
}

#newsletter {
    width: 100%;
    margin: 0 auto;
    background-color: aqua;
    opacity: 0.8;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 2em 0em;
}

@media only screen and (max-width: 805px) {
    /* For Mobile Phones: */
    #header {
        justify-content: space-evenly;
    }
    
    #header-img {
        margin: 0;
    }
    
    #nav-bar {
        margin: 0;
    }

    #header a {
        margin: 0 0 0 15px;
    }

    #features {
        padding: 1em 3em;
    }

    #howitworks {
        padding: 1em 3em;
    }

    #pricing {
        padding: 1em 3em;
    }

    #pricingtitle {
        padding: 1em 3em;
    }
}